<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edu.cdtu.yz.mapper.DemandMapper">
    <select id="selectDemandsInfo" resultType="map">
        select title,
               level,
               content,
               td.id          as id,
               username       as userName,
               user_id        as userId,
               ts.id          as schoolId,
               ts.school_name as schoolName,
               td.create_date as createDate
        from tb_demand td
                 inner join tb_school ts on td.school_id = ts.id
                 inner join tb_user tu on td.user_id = tu.id
        order by level desc
        limit ${page.start}, ${page.rows}
    </select>
</mapper>
