<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edu.cdtu.yz.mapper.SchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.edu.cdtu.yz.bean.School">
        <id column="id" property="id" />
        <result column="school_name" property="schoolName" />
    </resultMap>

</mapper>
