<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edu.cdtu.yz.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.edu.cdtu.yz.bean.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="upwd" property="upwd" />
        <result column="telphone" property="telphone" />
        <result column="qq" property="qq" />
        <result column="email" property="email" />
        <result column="schoolId" property="schoolId" />
        <result column="schoolName" property="schoolName" />
        <result column="gender" property="gender" />
        <result column="birthdate" property="birthdate" />
        <result column="address" property="address" />
        <result column="createDate" property="createDate" />
    </resultMap>

</mapper>
