<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edu.cdtu.yz.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.edu.cdtu.yz.bean.Permission">
        <id column="id" property="id" />
        <result column="father_permission" property="fatherPermission" />
        <result column="permission_name" property="permissionName" />
        <result column="permission_url" property="permissionUrl" />
        <result column="permission_describe" property="permissionDescribe" />
        <result column="type" property="type" />
        <result column="icon" property="icon" />
    </resultMap>

</mapper>
